.my_background_color {
    background-color: rgb(100, 122, 100);
}

.my_font_color{
    color: white;
}

.my_font_style{
    font-family: sans-serif;
}

.my_padding{
    padding: 5px;
}

.my_boarder_color{
    border: 5px solid rgb(52, 78, 52);
    display: inline-block;
    padding: 5px;
}

a:hover {
    color: lightgreen;
    text-decoration: underline; 
}

.my_youtube_padding{
    padding: 10px;
    left: 10px;
}







